.sectionHead {
  
  h2 {
    font-size: 60px;
    text-transform: uppercase;
    display: inline;
    span {
      color: $color_g3;
    }
  }
  .mainHead {
    display: flex;
  }
  .cap {
    max-width: 700px;
    color: $color_g3;
  }

  &.centered {
    text-align: center;

    .mainHead{
      justify-content: center;
    }

    p {
      justify-content: center;
    }

    .cap {
      margin: auto;
    }
  }

  .SmallHeading {
    p {
      font-weight: 600;
      display: flex;
      align-items: center;
      gap: 4px;
      span {
        color: $color_p1;
        font-size: 38px;
      }
    }
  }

  @include respond-below(md) {
    h2 {
      font-size: 40px;
    }

    p {
      font-size: 15px;
    }
  }
}
