.ServicesSection {
  .cont {
    padding-bottom: 50px;

    .wrap {
      margin-top: 50px;
      .service {
        background-color: $color_g1;
        padding: 50px 20px;
        transition-duration: 0.5s;
        position: relative;
        .bg {
          position: absolute;
          right: 0;
          z-index: -1;
          height: 100%;
          opacity: 0;
          img {
            height: 100%;
          }
        }

        display: grid;
        grid-template-columns: 80px calc(100% - 80px);
        align-items: center;
        margin-bottom: 30px;

        .scLeft {
          background-color: white;
          width: 75px;
          height: 75px;
          border-radius: 50%;
          @include flexCenter;
        }

        .scRight {
          padding-left: 20px;
          p {
            color: $color_g3;
            margin-top: 10px;
          }
        }

        &:hover {
          background-color: $color_p1;

          .bg {
            opacity: 0.1;
            right: 30px;
            transform: scale(1.2);
          }
          .scRight {
            * {
              color: black;
            }
          }

          .scLeft {
            img {
              filter: invert(9%) sepia(68%) saturate(6621%) hue-rotate(278deg)
                brightness(97%) contrast(99%);
            }
          }
        }
      }
    }
  }
}
